.box {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
